In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
Url = "https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv"

In [3]:
data = pd.read_csv(Url)

In [4]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
def impute_nan(df,variable):
    df[variable]=df[variable].fillna(np.mean)

In [7]:
impute_nan(data,"Age")

In [8]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [35]:
cols = data.select_dtypes([np.number]).columns

In [46]:
df=data[["Age","Fare"]]
df.isnull().sum()

Age     0
Fare    0
dtype: int64

In [50]:
df_numerical = df.select_dtypes(include='float64')
cols=df_numerical.columns
cols

def otlier_treat(df,column):
    
    for i in df[column]:
        Q1 = np.quantile(df[column], .25) 
        Q3 = np.quantile(df[column], .75) 
        Q2 = np.quantile(df[column], .50)
        
        IQR = Q3-Q1
        lower = Q1 -(1.5 * IQR) 
        upper = Q3 +(1.5 * IQR)
        
        if i > upper or i < lower:
            df[column]=df[column].replace(i, 0)
            
            
otlier_treat(data,df)

ValueError: Boolean array expected for the condition, not object

In [54]:
cols=df["Age","Fare"]

KeyError: ('Age', 'Fare')

In [53]:
cols

['Age', 'Fare']